@model IEnumerable<Model.Models.Alternativa>

<div class="container">
    <h2> @ViewBag.Pergunta.Questao </h2>
    <p>Assinale as opcões como verdadeiras ou falsas: </p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <th>
                Alternativas
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @using (Html.BeginForm()) {
                    <form>
                        <label class="radio-inline">
                            <input type="radio" name=@item.Codigo value="true"> Verdadeira
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name=@item.Codigo value="false"> Falsa
                        </label>
                    </form>
                    }
                </td>
            </tr>
        }

    </table>

    <div class="radio">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success">Enviar Resposta</button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index", new { controller = "Pergunta", id = @ViewBag.Pergunta.Assunto.Codigo })
</div>
