@model IEnumerable<Model.Models.Turma>

@{
    ViewBag.Title = "Index";
}

<h2>Minhas Turmas</h2>

@if (@ViewBag.Sessao == 0)
{
    <p>
        @Html.ActionLink("Adicionar ", "Create")
    </p>

    <table class="table">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeTurma)
                </td>


                <td>
                    @Html.ActionLink("Abrir", "Index", new { controller = "Aula", id = item.Codigo }) |
                    @Html.ActionLink("Editar", "Edit", new { id = item.Codigo }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Codigo }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Codigo })
                </td>
            </tr>
        }

    </table>

}
else if (@ViewBag.Sessao == 1)
{
    <table class="table">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeTurma)
                </td>

                <td>
                    @Html.ActionLink("Abrir", "Index", new { controller = "Aula", id = item.Codigo }) |
                    @Html.ActionLink("Detalhar", "Details", new { id = item.Codigo }) |
                    @Html.ActionLink("Sair", "Edit", new { id = item.Codigo }) |
                </td>
            </tr>
        }

    </table>

}